exp
__pycache__
*.pyc
waves
.bash_history
.ipynb_checkpoints
2_8_2023
2_8_2023_add_noise
3_8_2023
3_8_2023_add_noise
4_8_2023
4_8_2023_add_noise
5_8_2023
5_8_2023_add_noise
Allb_3s
analysis_results
audio_test
augment_positive_pitch
augment_positive_reverb
augment_positive_slow_down
augment_positive_slow_down_0.8_1
augment_positive_slow_down_0.9_1
augment_positive_speed_up
augment_positive_speed_up_1_1.1
augment_positive_speed_up_1_1.2
exp
ftel5_5Dec2023
ftel5_positive_pitch
ftel5_positive_slow_down
ftel5_positive_speed_up
nami_record
negative_3s
negative_3s_add_noise
negative_record
positive123_3s
positive_3s
waves_add_noise
data
